* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);

  height: 100%;
  ttext-align: center;
}
.wrap-all {
  height: 100%;
}
.container2 {
  margin: auto;
  max-width: 90%;
  b/background-color: rgb(255, 181, 199);
  padding: 50px;
  height: 100%;
  color: #fff;
  font-size: 30px;
  display: grid;
  /*
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 40px  auto 60px;
  grid-gap: 3px;
  */
  grid-gap: 8px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 40px 30px 30px auto 30px 30px auto;
  grid-template-areas:
    "h h h"
    "m c b1"
    "m c b1"
    "m c b2"
    "m b7 b3"
    "m b8 b3"
    "f f f";
}
.header {
  background-color: rgb(168, 206, 248);
  ggrid-column: 1 / -1;
  grid-area: h;
}
.content {
  background-color: rgb(178, 214, 255);
  ggrid-column: 2 /-1;
  grid-area: c;
}
.menu {
  background-color: rgb(255, 193, 208);
  ggrid-row: 1 /3;
  grid-area: m;
}
.footer {
  background-color: rgb(248, 237, 174);
  ggrid-column: 1 / -1;
  grid-area: f;
}
.other {
  background-color: rgb(215, 247, 207);
}
.other:nth-child(odd) {
  background-color: rgb(177, 177, 177);
}
.container > div:nth-child(5) {
  background-color: rgb(144, 88, 88);
}

.box1 {
  grid-area: b1;
}
.box2 {
  grid-area: b2;
}
.box3 {
  grid-area: b3;
}
.box4 {
  grid-area: b4;
}
.box5 {
  grid-area: b5;
}
.box6 {
  grid-area: b6;
}
.box7 {
  grid-area: b7;
}
.box8 {
  grid-area: b8;
}
.box9 {
  grid-area: b9;
}
.box10 {
  grid-area: b10;
}
.container2 > div {
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

<!--NAV 3-- > .nav-all3 {
  max-width: 1100px;
  bborder: 1px solid blue;
  width: 90%;
  margin: auto;
}
.nav-all3 .nav-inside3 {
  bborder: 1px solid red;
  wmidth: 90%;
  mmax-width: 1080px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(209, 209, 209);
  border-radius: 1px;
  box-shadow: 0px 2px 4px 0px rgba(172, 170, 170, 0.1);
}

.nav-inside3 ul.ul-list3 {
  list-style: none;
  display: flex;
  flex: 1;
  margin-left: 30px;
}
.nav-inside3 ul.ul-list3 .li-list3 {
  color: #000;
  padding: 0px 10px;
}
.nav-inside3 ul.ul-list3 .li-list3 a,
.icons3 li a {
  color: rgb(27, 27, 27);
  text-decoration: none;
  padding-bottom: 2px;
}
.nav-inside3 ul.ul-list3 .li-list3 a:hover,
.icons3 li a:hover {
  color: rgb(58, 140, 255);
  border-bottom: 2px solid rgb(79, 101, 247);
  border-radius: 1px;
}
.icons3 {
  list-style: none;
  display: flex;
}
.ham3 {
  position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.show3 {
}

@media (max-width: 700px) {
  .ham3 {
    display: block;
  }
  .ham3:hover {
    opacity: 0.5;
  }
  .nav-inside3 ul.ul-list3 {
    display: block;
    border-right: 1px solid rgb(191, 191, 191);
    position: absolute;
    background: #f3f3f3;
    opacity: 0.9;
    top: 0;
    left: -32px;
    height: 100%;
    width: 160px;
    padding: 5px;
    transform: translateX(-200px);
    transition: transform 0.5s ease-in-out;
  }
  .nav-inside3 ul.ul-list3.show3 {
    transform: translateX(0px);
  }
  .nav-inside3 ul.ul-list3 li {
    margin: 10px 5px;
    border-bottom: 1px solid rgb(193, 190, 190);
    padding-top: 10px;
    bbackground: rgb(144, 177, 255);
    height: 25px;
  }
  .nav-inside3 ul.ul-list3 li:hover {
    margin: 10px 8px;
  }
  .nav-inside3 ul.ul-list3 li.li-list3 a:hover {
    border: none;
  }
  .nav-inside3 ul.ul-list3 li.li-list3 a {
    padding: 10px 0px;
    bbackground: rgb(187, 255, 187);
  }
  .nav-inside3 ul.ul-list3 li:last-child {
    border-bottom: none;
  }
}

@media (max-width: 500px) {
}
